$main-text-color: #ffffff;
$input-text-color: #999999;
$header-bcg-color: #5474fd;
$why-text-color: #e8e8e8;
$appartment-text-color: #fefefe;
$testimonail-group-bcg-color: #333333;
$footer-bcg-color: #232323;