$box-fresh-bcg: #f9f8fb;
$border-menu-color: rgba(249, 248, 251, 0.102);
$main-text-color: #262626;
$boxFresh-btn-color: rgb(255, 96, 51);
$secondary-color: #ffffff;
$box-about-bcg-color: #00b9b9;
$box-services-bcg-color: #70bfff;
$gallery-bcg-color: #ffe92f;
$box-gallery-btn-color: rgb(85, 133, 162);
$subscribe-btn-color: rgb(150, 185, 44);
$subscribe-label-color: rgba(38, 38, 38, 0.502);
$blog-bcg-color: #b07cf7;
$blog-btn-color: #f72b3b;
$contact-input-color: rgba(0, 196, 196, 0.502);
$footer-text-color: rgb(185, 185, 185);
$footer-accent: #c92a4a;
$input-active-color: rgb(53, 91, 130);
$input-contact-bcg-color: #00c4c4;
