.container {
  min-width: 320px;
  max-width: 930px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 576px) {
    width: 576px;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 992px) {
    width: 992px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  @media screen and (min-width: 1900px) {
    width: 1900px;
  }
}
