@font-face {
  font-family: Proxima Nova Regular;
  src: url("../fonts/Proxima\ Nova\ 2/Proxima Nova Regular.otf")
    format("opentype");
}

:root {
  --bcg-body-color: #282728;
  --bcg-content-color: #ffffff;
  --bcg-wrap-color: #464f54;
  --bcg-control-bar-color: #fabf2d;
  --content-line-color: #f0f2f3;
  --content-title-color: #2a2a2a;
  --content-text-color: #000000;
  --content-text-author: #b4b4b4;
  --content-title-second-color: #8f8f8f;
  --header-title-color: #767676;
  --input-line-color: #303030;
  --input-text: #fefefe;
  --cursor-color: #7d7e7f;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--text-main-color);
  background-color: var(--bcg-body-color);
  font-family: "Proxima Nova Regular";
}

h1,
h2,
h3,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 70px 0;
  background-color: var(--bcg-wrap-color);
}

/* header */
header {
  position: absolute;
  right: 0;
  top: 60px;
}

.title-input {
  width: 876px;
  padding-top: 48px;
  padding-bottom: 50px;
  padding-left: 60px;
  background-color: var(--bcg-body-color);
}

.title-input > h2 {
  margin-bottom: 14px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--header-title-color);
}

input[type="text"]::placeholder {
  color: var(--input-text);
  font-size: 48px;
  font-weight: 400;
  line-height: 1.96;
}

.title-input > input[type="text"] {
  background-color: var(--bcg-body-color);
  display: block;
  border: none;
  outline: none;
  padding: 40px 10px 10px;
  border-style: none;
  width: 100%;
  border-bottom: 3px solid var(--input-line-color);
  cursor: text;
  caret-color: var(--cursor-color);
  font-weight: 400;
}

.control-bar__list {
  display: flex;
  width: 810px;
  margin-left: auto;
  padding: 22px 200px 22px 42px;
  background-color: var(--bcg-control-bar-color);
}

.control-bar__list li {
  list-style: none;
}

.control-bar__list li:not(:last-child) {
  margin-right: 30px;
}

/* contents */
.card {
  padding-left: 68px;
  background-color: var(--bcg-content-color);
  border-left: 1px solid #000;
}

.card > div {
  padding-top: 200px;
  padding-bottom: 36px;
  padding-right: 140px;
  padding-left: 54px;
  border-left: 2px solid var(--content-line-color);
}

.contents > span {
  margin-bottom: 50px;
  font-size: 19.84px;
  color: var(content-text-author);
  text-transform: uppercase;
}

.contents > h2 {
  margin-bottom: 20px;
  font-size: 77.93px;
  color: var(--content-title-color);
  text-transform: uppercase;
  font-weight: 400;
}

.contents > h3 {
  margin-bottom: 55px;
  font-style: italic;
  font-size: 30px;
  color: var(--content-title-second-color);
}

.contents > p {
  font-size: 26.92px;
  color: var(--content-text-color);
}

.contents > p:not(:last-child) {
  margin-bottom: 40px;
}
