.burger {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  &__icon-cross {
    display: none;
  }

  &.is-open &__icon-cross {
    display: block;
  }

  &.is-open &__icon-burger {
    display: none;
  }
  
  @media screen and (min-width: 767px) {
    display: none;
  }
}
