.form-contact {
  @include flex(flex, column, false, flex-end, center);
  @media screen and (min-width: 768px) {
    flex-basis: 30%;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $border-input;
    margin-bottom: 20px;
    @include font(18px, $title-color-products, 400, 2.222, left);
    font-family: 'GothamBook';
    background-color: $main-text-color;
    outline: none;
  }

  &__input:last-child {
    margin-bottom: 30px;
  }

  input::placeholder {
    opacity: 0.2;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @include font(18px, $title-color-products, 400, 2.222, left);
    font-family: 'GothamBook';
    box-shadow: 0 0 0px 1000px $main-text-color inset !important;
    border-bottom: 1px solid $title-color-products;
  }
}
