.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 220px;

  & > div {
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      max-width: 280px;
      width: 100%;
      padding: 10px;
      top: 3%;
      left: 50%;
      transform: translate(-50%, 25%);
      background: linear-gradient(
        45deg,
        $linear-color-menu-first 0%,
        $linear-color-menu-second 100%
      );

      &.is-open {
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      @include flex(flex, row, false, center, space-evenly);
      flex-basis: 70.5%;
    }
  }
}
