.social {
  @include flex(flex, row, false, false, space-between);
  flex-basis: 20%;
  @extend %list;

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    @include flex(flex, row, false, center, center);
    height: 40px;
    width: 40px;
    border: 1px solid $main-text-color;
    border-radius: 50%;

    &:hover,
    &:focus {
      @extend %active;
    }
  }
}
