.title {
  position: relative;
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'gothambold1';
  @include font(32px, $title-color-products, 400, 1, center);

  @media screen and (min-width: 768px) {
    margin-bottom: 170px;
    @include font(44px, $title-color-products, 400, 1, center);
  }

  &::before {
    content: '';
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 0 100px 1px 0;
    border-style: solid;
    border-color: $title-color-products;
  }
}
