$main-text-color: #ffffff;
$title-color-products: #2c4058;
$bcg-color-project-img: #2c4058;
$text-color-products: #4b5562;
$back-news-color-odd: #55b7ff;
$back-news-color-even: #7e5aff;
$color-author-date: #55b7ff;
$linear-color-header-first: #55b7ff ;
$linear-color-header-second: #7e5aff;
$linear-color-menu-first: #1e77b6 ;
$linear-color-menu-second: #4c34a2;
$linear-color-news-first: #3c7fd4 ;
$linear-color-news-second: #24ccfa;
$linear-color-footer-first: #55b7ff ;
$linear-color-footer-second: #7e5aff;
$border-input: rgba(44, 64, 88, 0.2);


