.contact {
    position: relative;
    padding: 40px 15px;
    color: $secondary-color;
    @media screen and (min-width: 1024px) {
      padding: 117px 15px 50px;
    }
  
    &__text {
        margin-bottom: 42px;
    }

    &__button {
        padding: 15px 40px;
        @extend %btn;
        @include btn(
          1px,
          solid,
          $main-text-color,
          $main-text-color,
          $secondary-color
        );
      
        &:hover,
        &:focus {
          @extend %active;
          @include outline(2px, solid, $main-text-color);
          box-shadow: 0 0 0 4px $main-text-color;
        }
      }
  }
  